<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 发布服务-->
    <bean id="rpcServer" class="com.zcl.nettyRpc.server.RPCServer">
        <constructor-arg name="serverAddress" value="localhost:2345"/>
        <constructor-arg>
            <list>
                <value>com.zcl.nettyRpc.service.impl.GoodsServiceImpl</value>
                <value>com.zcl.nettyRpc.service.impl.OrderServiceImpl</value>
            </list>
        </constructor-arg>
    </bean>


</beans>